# Arquivos gerados na compilação do Delphi

*.dcu
*.exe

fontes/compilacao/*
fontes/*.exe
fontes/__history/*

fontes/util/__history/*
fontes/apresentacao/__history/*

fontes/ExemploOOP.dproj.localgit add
fontes/ExemploOOP.identcache


__history/*
