# Arquivos gerados na compilação do Delphi

*.dcu
*.exe

*/__history/*


__history/*

fontes/*/*.dcu

fontes/*/__history/*

fontes/compilacao/*

fontes/__history/*

fontes/util/__history/*
fontes/apresentacao/__history/*

fontes/ExemploOOP.dproj.localgit add
fontes/ExemploOOP.identcache


